html {
    font-family: sans-serif;
}
#Cards{
    width: 300px;
    padding: 10px;
    border: 1px solid #c0c0c0;
}
#card-1{
    margin: 0px;
    padding: 10px;
    border: 1px solid #c0c0c0;
}
.inf {
    font-style: italic;
}

.list{
    list-style: none;
    padding: 0px;
}
.bold{
    font-weight: bold;
}
